body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
  header{
    font-family: arial;
    color: white;}
}
 header h2,header h3, header h1{
   text-align: right;
   margin-right: 10%;

 }
 header h2{
   margin-top:15%;
   font-size: 30px;
   margin-bottom: 0;
 }
 header h1{
   font-size: 53px;
   margin-top:0;
 }

   .yt{
     font-family: arial;
     text-align: right;
     margin-right: 10%;
   }
   .yt a{
     font-size: 25px;
     color: #d4a117;
    text-decoration: none;
    border: 2px solid white;
   }
   .yt p{ color: white;
     font-size: 50px;
     margin-top: 90px;
     margin-bottom: 5px;

   }

   .connect {
     text-align: center;
     color: white;
     font-family: arial;
   }
   .connect h1{
     font-size: 60px;
     margin-top: 80px;
     margin-bottom: 0;
   }
   .connect h2{
     font-size: 50px;
     margin-top: 0;
   }

.social{
  text-align: center;
}
.social img{
  width: 150px;
  padding: 10px;
filter: grayscale();
}
.social img:hover{
  filter: none;
}
footer{
  margin-top: auto;
  text-align: center;
  color: white;
  padding: 25px;
  height: 40px;
  background-color:black;}
